h2{
	letter-spacing: 1px;
	font-family: 'Yeseva One', cursive;
}
h3{
	letter-spacing: 1px;
}

.title{
	text-align: left;
	font-family: 'Lobster', cursive;
	font-size: 5rem;
	margin:0;
	letter-spacing: 1.5px;
}
.subTitle{
	text-align: center;
	// font-family: 'Yeseva One', cursive;
	font-family: 'Cinzel', serif;
	font-size: 2.5rem;
	letter-spacing: 1.5px;
}

nav {
	background-image:linear-gradient(rgba(255, 255, 255,0.4),rgba(255,255,255,0.4)), url(./assets/br.png);
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 0 2%;
	a{
		position: absolute;
		top: 68px;
		right: 15px;
	    text-decoration: none;
	    color: honeydew;
	    background: black;
	    font-size: 1.5rem;
	    z-index: 5;
	    padding: 2px 5px;
	    border-radius: 12px;
	    letter-spacing: 1px;
	    text-transform: uppercase;
		&:hover{
			color: black;
			background: #56a088;
		}
		
	}
}

nav{
	.nav-arrow{
		width: 100px;
		background-image: url(./assets/nounarrow1.png);
		background-size: contain;
		z-index: 2;
		img{
			width: 100%;
		}
	}
}